.drinks-container::-webkit-scrollbar{
    display:none;
}

.drinks-container::-webkit-scrollbar-thumb{
    display: none;
}

.drinks-container::-webkit-scrollbar-track{
    display: none;
}

.drinks-container::-webkit-scrollbar-button:vertical:start:increment{
    display: none;
}

.drinks-container::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}

.drinks-container::-webkit-scrollbar-corner{
    display: none;
}


.content-align::-webkit-scrollbar{
    display: none;
}

.content-align::-webkit-scrollbar-thumb{
    display: none;
}

.content-align::-webkit-scrollbar-track{
    display: none;
}

.content-align::-webkit-scrollbar-button:vertical:start:increment{
    display: none;
}

.content-align::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}

.content-align::-webkit-scrollbar-corner{
    display: none;
}

.bottom-right-container::-webkit-scrollbar{
    display: none;
}

.bottom-right-container::-webkit-scrollbar-thumb{
    display: none;
}

.bottom-right-container::-webkit-scrollbar-track{
    display: none;
}

.bottom-right-container::-webkit-scrollbar-button:vertical:start:increment{
    display: none;
}

.bottom-right-container::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}

.bottom-right-container::-webkit-scrollbar-corner{
    display: none;
} 

ul{
    list-style: none;
}

.img-thumbnail{
    height: 100px;
    width: 100px;
}

@media (max-width:749px){
    body, html{
        width: 100%;
        height: 100%;
        margin: 0;
        padding:0;
        
    }

    .main-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: darkslategrey;
        
    }

    .logo{
        display: flex;
        height: 20%;
        width: 100%;
        background-color: black;
        align-items: center;
        justify-content: center;
    }

    .logo-resize{
        height: 130px;
        width: auto;
    }

    .search-bar{
        height: 6%;
        width: 100%;
        background-color: orange;
        display: flex;
        justify-content: center;
        padding-top: 12px;
        padding-bottom: 5px;
       
    }

    .searchBar{
        height: 25px;
        border-radius: 5px;
        border: black;
        border-width: 2px;
        border-style: solid;
        
    }
    .search-wrapper img{
        display:none;
    }

    .nav-container{
        display:flex;
        width: 100%;
        height: 8%;
        background-color: orange;
        justify-content: center;
        padding-bottom: 5px;
        border-bottom: black;
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }

    .az-drinks{
        margin-left:5px;
        margin-right:5px;
        height: 100%;
        width: 30%;
        background-color: orange;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ingredient-drinks{
        margin-left:5px;
        margin-right: 5px;
        height: 100%;
        width: 30%;
        background-color: orange;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .random-drinks{
        margin-left: 5px;
        margin-right: 5px;
        height: 100%;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bottom-container{
        display:flex;
        height:65%;
        width: 100%;
        background-color: darkslategrey;
        
    }

    .drinks-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        background-color: darkslategrey;
        overflow: scroll;
        justify-content: center;
        align-items: center;
        justify-items: center;
        font-size: 20px;
        font-family: "Denk One";
        
        
         
    }

    .content-align{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: #f5b53e;
        overflow: scroll;
        align-items: center;
        text-align: center;
        align-self: center;
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 10px;
        font-family: "Denk One";
        border: black;
        border-style: solid;
        border-width: 2px;

    }

    .scroll-bar{
        display: flex;
        height: 100%;
        width: 10%;
        max-width: 50px;
        background-color: olive;
    }

    .drink-container{
        height: 150px;
        width: 70%;
        margin: 2px;
        margin-left: 0;
        background-color:  #f5c160 ;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        align-self: center;
        margin-top: 5px;
        border-radius: 15px;
        font-family: "Denk One";
        border: black;
        border-style: solid;
        border-width: 2px;
    }

    .large-img-mobile{
        height: 250px;
        width: 250px;
        margin-top: 30px;
        border-radius: 5px;
    }

    .about-us{
        display: flex;
        height:5%;
        width: 100%;
        background-color: orange;
        margin-top: 30px;
        justify-content: right;
        position: sticky;
        bottom: 0;
    }

    .img-resize{
        height: 100px;
        width: auto;
    }
    
    .bottom-right-container{
        display: none;
    }
    
    .img-thumbnail{
        border-radius: 5px;
    }
}



@media (min-width:750px){
    body, html{
        width: 100%;
        height: 100%;
        margin: 0;
        padding:0;
        background-color: black;
        
    }

    .main-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        
    }

    .logo{
        display: flex;
        height: 20%;
        width: 30%;
        max-width: 600px;
        background-color: black;
        align-self: center;
        align-items: center;
        justify-content: center;
    }

    .logo-resize{
        height: 180px;
        width: auto;
    }

    .search-bar{
        display: flex;
        position: relative;
        align-self: center;
        height: 6%;
        width: 30%;
        max-width: 600px;
        background-color: orange;
        display: flex;
        justify-content: center;
        
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .searchBar{
        width: 100%;
        height: 29px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top: none;
        border-left: black;
        border-right: black;
        border-bottom: black;
        border-style: solid;
        border-width: 2px;
    }

    .search-wrapper {
        position: relative;
    }
    
    .search-wrapper img {
        position: absolute;
        top: 7px;
        right: -3px;
        height: 20px;
        width: 20px;
    }

    .nav-container{
        display:flex;
        width: 100%;
        height: 8%;
        background-color: orange;
        justify-content: center;
        border-bottom: black;
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }

    .az-drinks{
        margin-left:5px;
        margin-right:5px;
        height: 100%;
        width: 20%;
        max-width: 200px;
        background-color: orange;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ingredient-drinks{
        margin-left:5px;
        margin-right: 5px;
        height: 100%;
        width: 20%;
        max-width: 200px;
        background-color: orange;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .random-drinks{
        margin-left: 5px;
        margin-right: 5px;
        height: 100%;
        width: 20%;
        max-width: 200px;
        background-color: orange;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bottom-container{
        display:flex;
        height: 65%;
        width: 100%;
        background-color: black;
    }

    .drinks-container{
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 50%;
        background:linear-gradient(darkslategrey,rgb(61, 100, 100)) ;
        flex-wrap: wrap;
        overflow: scroll;
        align-items: center;
        justify-content: center;
        
    }

    .large-img-mobile{
        height: 250px;
        width: 250px;
        margin-top: 5px;
        border-radius: 25px;
        border-style: solid;
        border-width: 2px;
    }

    

    .drink-container{
        height: 200px;
        width: 200px;
        margin: 10px;
        background-color:  #f5c160;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        align-self: center;
        border-radius: 5px;
        justify-content: center;
        padding-bottom: 10px;
        font-size: 20px;
        font-family: "Denk One";
        border: black;
        border-style: solid;
        border-width: 2px;
        cursor: pointer;
    }

    .bottom-right-container{
        height: 100%;
        width: 50%;
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color:  #f5c160;
        overflow: scroll;
        font-size: 15px;
        font-family: "Denk One";
        
        
        
    }

    .large-img{
        height:50%;
        width:325px;
        margin-top: 20px;
        background-color: black;
        border-radius: 5px;
        border-style: solid;
        border-width: 2px;
        border: black;
    }

    .drink-description{
        height: 45%;
        width: 80%;
        background-color: gray;
        margin-top: 10px;
        font-size: 20px;
        font-family: "Denk One";
    }


    .about-us{
        display: flex;
        justify-content: right;
        height:5%;
        width: 100%;
        background-color: orange;
    }

    .img-resize{
        height: 100px;
        width: auto;
        
    }

    .img-thumbnail{
        border-radius: 5px;
    }

    

}

.hidden-div{
    height: 30px;
    width: 20px;
    color:  #f5c160;
}

.dropbtn {
    background-color: darkslategrey;
    color: white;
    padding: 2px;
    border: none;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Denk One';
    font-size: 14px;
    
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-family: 'Denk One';
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-drinks {
    display: none;
    position: absolute;
    background-color: #db9806;
    min-width: 147px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 2px;
  }
  
  /* Links inside the dropdown */
  .dropdown-drinks p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Denk One';
    
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-drinks p:hover {
    background-color: #f5c160;
    font-weight: bold;
    
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-drinks {
    display: block;
}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #f5c160;
    color: black;
    
}

.about-us button {
    background-color: orange;
    font-family: "Denk One";
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.pictures-box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
}


.us-container {
    height: 100px;
    margin: 10px;
    background-color:  #f5c160;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-self: center;
    border-radius: 5px;
    justify-content: center;
    font-size: 20px;
    font-family: "Denk One";
    border: black;
    border-style: solid;
    border-width: 2px; 
}

.us-thumbnail {
    height: 100px;
    width: 100px;
}

.us-mobile-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}